<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cargomanifest">
      <div class="header">
        <div class="container">
          <img class="img" src="img/container.svg" />
          <div class="container-wrapper">
            <div class="div">
              <div class="container-2">
                <div class="div-wrapper"><div class="text-wrapper">CARGO MANIFEST</div></div>
                <div class="div-wrapper"><div class="text-wrapper-2">230-66549195</div></div>
              </div>
              <div class="container-3">
                <div class="div-wrapper"><div class="text-wrapper-3">DATE</div></div>
                <div class="div-wrapper"><div class="text-wrapper-4">Mar/12/2026 11:30 am</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="container-4">
          <div class="top-row-requested-by">
            <div class="requested-by-section">
              <div class="horizontal-border">
                <div class="icon-wrapper"><img class="icon" src="img/icon-4.svg" /></div>
                <div class="heading"><div class="destination-agent">DESTINATION AGENT</div></div>
              </div>
              <div class="background-border">
                <div class="container-5">
                  <div class="container-6"><div class="text-wrapper-5">NAME / COMPANY</div></div>
                  <div class="container-6"><p class="text-wrapper-6">SKL SHIPPING &amp; LOGISTICS PVT.</p></div>
                </div>
                <div class="container-7">
                  <div class="container-6"><div class="text-wrapper-5">ADDRESS</div></div>
                  <div class="element-floor-wrapper">
                    <p class="text-wrapper-6">
                      902, 9TH FLOOR, SILICON TOWER, OPPOSITE SAMARTHESWAR MAHADEV, C.G. ROAD, AHMEDABAD- 380006
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-2">
              <div class="horizontal-border-2">
                <div class="img-wrapper"><img class="icon-2" src="img/image.svg" /></div>
                <div class="carrier-voyage-wrapper"><div class="carrier-voyage">CARRIER &amp; VOYAGE DETAILS</div></div>
                <div class="container-8">
                  <div class="container-9"><div class="created-by">CREATED BY</div></div>
                  <div class="container-9"><div class="text-wrapper-7">Rodrigo Mora</div></div>
                </div>
              </div>
              <div class="background-border-2">
                <div class="container-10">
                  <div class="container-11">
                    <div class="container-6"><div class="text-wrapper-5">CARRIER NAME AND ADDRESS</div></div>
                    <div class="container-6"><div class="text-wrapper-6">COPA AIRLINES</div></div>
                  </div>
                  <div class="container-12">
                    <div class="container-6"><div class="text-wrapper-5">BOOKING NUMBER</div></div>
                    <div class="container-6"><div class="text-wrapper-6">230-66549195</div></div>
                  </div>
                  <div class="container-13">
                    <div class="container-6"><div class="text-wrapper-5">DEPARTURE DATE</div></div>
                    <div class="container-6"><div class="text-wrapper-6">Jul/03/2025</div></div>
                  </div>
                  <div class="container-14">
                    <div class="container-6"><p class="flight-number-voyage">FLIGHT NUMBER / VOYAGE AND VESSEL</p></div>
                    <div class="container-6"><div class="text-wrapper-6">CM276</div></div>
                  </div>
                  <div class="container-15">
                    <div class="container-6"><div class="text-wrapper-5">CONTAINER NO.</div></div>
                    <div class="container-6"><div class="text-wrapper-6">-</div></div>
                  </div>
                  <div class="container-16">
                    <div class="container-6"><p class="text-wrapper-5">AWB / BILL OF LADING NO.</p></div>
                    <div class="container-6"><div class="text-wrapper-6">230-66549195</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-row-origin">
            <div class="section">
              <div class="horizontal-border">
                <div class="container-17"><img class="icon-3" src="img/icon-3.svg" /></div>
                <div class="heading-2"><div class="origin">ORIGIN</div></div>
              </div>
              <div class="background-border-3">
                <div class="container-18">
                  <div class="container-6"><div class="text-wrapper-5">ORIGIN</div></div>
                  <div class="container-6"><div class="text-wrapper-6">Santiago</div></div>
                </div>
              </div>
            </div>
            <div class="div-2">
              <div class="horizontal-border">
                <div class="icon-wrapper"><img class="icon-4" src="img/icon-2.svg" /></div>
                <div class="heading-2"><div class="destination">DESTINATION</div></div>
              </div>
              <div class="background-border-4">
                <div class="container-6">
                  <div class="container-6"><div class="text-wrapper-5">DESTINATION</div></div>
                  <div class="container-6"><div class="text-wrapper-6">Quito</div></div>
                </div>
                <div class="container-19"></div>
              </div>
            </div>
            <div class="new-section">
              <div class="horizontal-border">
                <div class="container-17"><img class="icon-2" src="img/icon-5.svg" /></div>
                <div class="heading-2"><div class="text-wrapper-8">NOTES</div></div>
              </div>
              <div class="background-border-5">
                <div class="container-20">
                  <p class="p">
                    General air cargo, including electronic components and industrial machinery parts. Securely packed
                    in reinforced wooden crates.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-goods-table">
          <div class="row-wrapper">
            <div class="row">
              <div class="cell"><div class="house-no">HOUSE NO.</div></div>
              <div class="shipper-name-wrapper"><div class="shipper-name">SHIPPER NAME</div></div>
              <div class="consignee-name-wrapper"><div class="consignee-name">CONSIGNEE NAME</div></div>
              <div class="pcs-wrapper"><div class="pcs">PCS</div></div>
              <div class="weight-wrapper"><div class="weight">WEIGHT</div></div>
              <div class="volume-wrapper"><div class="volume">VOLUME</div></div>
              <div class="nature-AND-QUANTITY-wrapper">
                <p class="nature-AND-QUANTITY">NATURE AND QUANTITY OF GOODS</p>
              </div>
              <div class="u-s-customs-wrapper"><div class="u-s-customs">U.S. CUSTOMS</div></div>
            </div>
          </div>
          <div class="body">
            <div class="row-2">
              <div class="data"><div class="text-wrapper-9">HAWB96SCL</div></div>
              <div class="data-2">
                <div class="container-21"><div class="text-wrapper-10">FASTCOLOR S.A.</div></div>
              </div>
              <div class="data-3">
                <div class="container-6">
                  <p class="LABORATORIOS-RENE">LABORATORIOS RENE<br />CHARDON DEL ECUADOR CIA. LTDA.</p>
                </div>
              </div>
              <div class="data-4"><div class="text-wrapper-11">1 PKG</div></div>
              <div class="data-5"><div class="text-wrapper-12">614.00 Kg</div></div>
              <div class="data-6"><div class="text-wrapper-13">0.00 m³</div></div>
              <div class="data-7">
                <div class="container-22"><div class="text-wrapper-14">CONSOLIDATED CARGO</div></div>
              </div>
              <div class="data-8"><div class="EEI-NO-REQUIRED">EEI NO&nbsp;&nbsp;REQUIRED</div></div>
            </div>
            <div class="row-3">
              <div class="data-9">
                <div class="container-23"><p class="text-wrapper-15">CORDILLERA 182, QUILICURA SANTIAGO CHILE</p></div>
              </div>
              <div class="data-10">
                <div class="container-6">
                  <p class="text-wrapper-10">ERNESTO DONOSO OE10-112 Y OE10 TABIAZO QUITO ECUADOR</p>
                </div>
              </div>
              <div class="data-6"><div class="text-wrapper-13">0.00 m³</div></div>
              <div class="data-7">
                <div class="container-22"><div class="text-wrapper-16">CARTAS DE COLOR</div></div>
              </div>
              <div class="data-8"><div class="SEC-a-FTSR">SEC. 30.37&nbsp;&nbsp;(A) FTSR</div></div>
            </div>
            <div class="row-4">
              <div class="data"><div class="text-wrapper-9">HAWB96SCL</div></div>
              <div class="data-9">
                <div class="container-23"><p class="text-wrapper-15">CORDILLERA 182, QUILICURA SANTIAGO CHILE</p></div>
              </div>
              <div class="data-10">
                <div class="container-6">
                  <p class="text-wrapper-10">ERNESTO DONOSO OE10-112 Y OE10 TABIAZO QUITO ECUADOR</p>
                </div>
              </div>
              <div class="data-4"><div class="text-wrapper-11">1 PKG</div></div>
              <div class="data-5"><div class="text-wrapper-12">614.00 Kg</div></div>
              <div class="data-6"><div class="text-wrapper-13">0.00 m³</div></div>
              <div class="data-7">
                <div class="container-22"><div class="text-wrapper-14">CONSOLIDATED CARGO</div></div>
              </div>
              <div class="data-8"><div class="EEI-NO-REQUIRED">EEI NO&nbsp;&nbsp;REQUIRED</div></div>
            </div>
            <div class="row-3">
              <div class="data"><div class="text-wrapper-9">HAWB96SCL</div></div>
              <div class="data-9">
                <div class="container-23"><p class="text-wrapper-15">CORDILLERA 182, QUILICURA SANTIAGO CHILE</p></div>
              </div>
              <div class="data-10">
                <div class="container-6">
                  <p class="text-wrapper-10">ERNESTO DONOSO OE10-112 Y OE10 TABIAZO QUITO ECUADOR</p>
                </div>
              </div>
              <div class="data-4"><div class="text-wrapper-11">1 PKG</div></div>
              <div class="data-5"><div class="text-wrapper-12">614.00 Kg</div></div>
              <div class="data-6"><div class="text-wrapper-13">0.00 m³</div></div>
              <div class="data-7">
                <div class="container-22"><div class="text-wrapper-14">CONSOLIDATED CARGO</div></div>
              </div>
              <div class="data-8"><div class="EEI-NO-REQUIRED">EEI NO&nbsp;&nbsp;REQUIRED</div></div>
            </div>
          </div>
        </div>
        <div class="section-manifest">
          <div class="total-pcs">TOTAL PCS</div>
          <div class="text-wrapper-17">3</div>
          <div class="total-weight">TOTAL WEIGHT</div>
          <div class="text-wrapper-18">1.842Kg</div>
          <div class="total-volume">TOTAL VOLUME</div>
          <div class="text-wrapper-19">0.00</div>
          <div class="total">TOTAL</div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-24">
          <div class="container-25">
            <div class="container-6"><div class="ocean-operations">OCEAN OPERATIONS</div></div>
            <div class="container-26">
              <p class="text-wrapper-20">Av Ventisquero 1111, Bodega 58, Renca, Santiago, RM 7550000. CHILE</p>
            </div>
          </div>
        </div>
        <div class="container-27">
          <div class="background">
            <div class="icon-wrapper"><img class="icon-5" src="img/icon.svg" /></div>
          </div>
          <div class="container-28"><div class="text-wrapper-21">www.sclcargo.cl</div></div>
        </div>
      </footer>
    </div>
  </body>
</html>
