<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="bill-of-lading-vacio">
    <header class="header">
      <div class="container">
        <img class="img" src="https://storage.googleapis.com/sclcargo/web/Home/logo-largo.png" />
        <div class="container-wrapper">
          <div class="div">
            <div class="container-2">
              <div class="SHIPPING-CARGO-wrapper">
                <div class="SHIPPING-CARGO">SHIPPING CARGO &amp; LOGISTICS</div>
              </div>
              <div class="div-wrapper">
                <div class="text-wrapper">BILL OF LADING</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <footer class="footer">
      <div class="container-3">
        <div class="container-4">
          <div class="ocean-operations-wrapper">
            <div class="ocean-operations">OCEAN OPERATIONS</div>
          </div>
          <div class="container-5">
            <p class="p">Av Ventisquero 1111, Bodega 58, Renca, Santiago, RM 7550000. CHILE</p>
          </div>
        </div>
      </div>
      <div class="container-6">
        <div class="background">
          <div class="icon-wrapper"><img class="icon"
              src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-5.svg" /></div>
        </div>
        <div class="container-7">
          <div class="text-wrapper-2">www.sclcargo.cl</div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>