<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="bill-of-lading-vacio">
    <header class="header">
      <div class="container">
        <img class="img" src="https://storage.googleapis.com/sclcargo/web/Home/logo-largo.png" />
        <div class="container-wrapper">
          <div class="div">
            <div class="container-2">
              <div class="SHIPPING-CARGO-wrapper">
                <div class="SHIPPING-CARGO">SHIPPING CARGO &amp; LOGISTICS</div>
              </div>
              <div class="div-wrapper">
                <div class="text-wrapper">BILL OF LADING</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <footer class="footer">
      <div class="container-3">
        <div class="container-4">
          <div class="ocean-operations-wrapper">
            <div class="ocean-operations">OCEAN OPERATIONS</div>
          </div>
          <div class="container-5">
            <p class="p">Av Ventisquero 1111, Bodega 58, Renca, Santiago, RM 7550000. CHILE</p>
          </div>
        </div>
      </div>
      <div class="container-6">
        <div class="background">
          <div class="icon-wrapper"><img class="icon"
              src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-5.svg" /></div>
        </div>
        <div class="container-7">
          <div class="text-wrapper-2">www.sclcargo.cl</div>
        </div>
      </div>
    </footer>
    <div class="form-overlay-container">

      <img class="bill-lading" src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/bill_lading.svg" />
      <!-- Input campos antes de la tabla lado izquierdo -->
      <div class="pdf-textarea input-exporter" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-consignee" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-notify" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-precarriage" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-placeofreceipt" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-exportcarrier" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-portofloading" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-foreigin" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-placeofdeli" contenteditable="true" placeholder="Escribe aqui..."></div>
      <!-- Input campos antes de la tabla lado derecho-->
      <div class="pdf-textarea input-documentnumb" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-blnumb" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-exportref" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-forwardingagent" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-pointorigin" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-domesticrouting" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-loadingpier" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-typeofmove" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-containerizedyes" contenteditable="true" placeholder=""></div>
      <div class="pdf-textarea input-containerizedno" contenteditable="true" placeholder=""></div>
      <!-- Input campos de la tabla -->

      <!-- Input campos despuesta de la tabla lado izquierdo -->
      <div class="pdf-textarea input-subjectco" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-prepaid" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-collect" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-grandtotal" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-prepaid_infe" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-collect_infe" contenteditable="true" placeholder="Escribe aqui..."></div>
      <!-- Input campos despuesta de la tabla lado derecho -->
      <div class="pdf-textarea input-datedat" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-by" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-mo" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-day" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-age" contenteditable="true" placeholder="Escribe aqui..."></div>
      <div class="pdf-textarea input-blno" contenteditable="true" placeholder="Escribe aqui..."></div>
    </div>
  </div>
</body>

</html>