<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />

</head>

<body>
  <div class="invoice">

    <div class="header">
      <div class="container">
        <img class="img" src="https://storage.googleapis.com/sclcargo/web/Home/logo-largo.png" />
        <div class="container-wrapper">
          <div class="div">
            <div class="container-2">
              <div class="div-wrapper">
                <div class="text-wrapper">INVOICE</div>
              </div>
              <div class="div-wrapper">
                <div class="text-wrapper-2 editable" contenteditable="true">INV-</div>
              </div>
            </div>
            <div class="container-3">
              <div class="div-wrapper">
                <div class="text-wrapper-3">DATE</div>
              </div>
              <div class="div-wrapper">
                <div class="text-wrapper-4 editable" contenteditable="true">Mar/30/2026 08:30 am</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="container-4">

        <div class="top-row-requested-by">
          <div class="requested-by-section">
            <div class="horizontal-border">
              <div class="div-2"><img class="icon"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" /></div>
              <div class="heading">
                <div class="text-wrapper-5">CUSTOMER</div>
              </div>
            </div>
            <div class="background-border">
              <div class="container-5">
                <div class="container-6">
                  <div class="text-wrapper-6">NAME / COMPANY</div>
                </div>
                <div class="container-6">
                  <div class="text-wrapper-7 editable" contenteditable="true"></div>
                </div>
              </div>
              <div class="container-7">
                <div class="container-6">
                  <div class="text-wrapper-6">ADDRESS</div>
                </div>
                <div class="container-8">
                  <p class="p editable" contenteditable="true"></p>
                </div>
              </div>
            </div>
          </div>

          <div class="quote-details">
            <div class="horizontal-border-2">
              <div class="icon-wrapper"><img class="icon-2"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-2.svg" /></div>
              <div class="heading-2">
                <div class="text-wrapper-8">INVOICE DETAILS</div>
              </div>
              <div class="container-9">
                <div class="container-10">
                  <div class="created-by">CREATED BY</div>
                </div>
                <div class="container-10">
                  <div class="text-wrapper-9 editable" contenteditable="true"></div>
                </div>
              </div>
            </div>
            <div class="background-border-2">
              <div class="container-11">
                <div class="container-12">
                  <div class="container-6">
                    <div class="text-wrapper-6">TAX ID</div>
                  </div>
                  <div class="container-6">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-13">
                  <div class="container-6">
                    <div class="text-wrapper-6">REFERENCE</div>
                  </div>
                  <div class="container-6">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-14">
                  <div class="container-6">
                    <div class="text-wrapper-6">INVOICE DATE</div>
                  </div>
                  <div class="container-6">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-15">
                  <div class="container-6">
                    <div class="text-wrapper-10">DUE DATE</div>
                  </div>
                  <div class="container-6">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-16">
                  <div class="container-6">
                    <div class="text-wrapper-6">MBL NUMBER</div>
                  </div>
                  <div class="container-6">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-17">
                  <div class="container-6">
                    <div class="text-wrapper-6">HBL NUMBER</div>
                  </div>
                  <div class="container-6">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="group">
          <div class="requested-by-section-2">
            <div class="horizontal-border-4">
              <div class="div-2"><img class="icon"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" /></div>
              <div class="heading-3">
                <div class="text-wrapper-13">SHIPPER</div>
              </div>
            </div>
            <div class="background-border-4">
              <div class="container-30">
                <div class="container-6">
                  <div class="text-wrapper-6">NAME / COMPANY</div>
                </div>
                <div class="container-6">
                  <div class="text-wrapper-7 editable" contenteditable="true"></div>
                </div>
              </div>
              <div class="container-31">
                <div class="container-6">
                  <div class="text-wrapper-6">CONSIGNEE</div>
                </div>
                <div class="container-6">
                  <div class="text-wrapper-7 editable" contenteditable="true"></div>
                </div>
              </div>
              <div class="container-32">
                <div class="container-6">
                  <div class="text-wrapper-6">SHIPPER REF. NO</div>
                </div>
                <div class="container-6">
                  <div class="text-wrapper-7 editable" contenteditable="true"></div>
                </div>
              </div>
              <div class="container-33">
                <div class="container-6">
                  <div class="text-wrapper-6">VESSEL</div>
                </div>
                <div class="container-6">
                  <div class="text-wrapper-7 editable" contenteditable="true"></div>
                </div>
              </div>
              <div class="container-34">
                <div class="container-6">
                  <div class="text-wrapper-14">VOYAGE NUMBER</div>
                </div>
                <div class="container-6">
                  <div class="text-wrapper-7 editable" contenteditable="true"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="quote-details-2">
            <div class="horizontal-border-2">
              <div class="icon-wrapper"><img class="icon-2"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-2.svg" /></div>
              <div class="heading-2">
                <div class="text-wrapper-8">SHIPPING DETAILS</div>
              </div>
            </div>
            <div class="background-border-3">
              <div class="container-18">
                <div class="container-19">
                  <div class="container-6">
                    <div class="text-wrapper-6">PORT OF ORIGIN</div>
                  </div>
                  <div class="container-6">
                    <p class="text-wrapper-7 editable" contenteditable="true"></p>
                  </div>
                </div>
                <div class="container-13">
                  <div class="container-6">
                    <div class="text-wrapper-6">PORT OF DESTINATION</div>
                  </div>
                  <div class="container-6">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-20">
                  <div class="container-21">
                    <div class="text-wrapper-6">NUMBER OF PACKS</div>
                  </div>
                  <div class="container-22">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-23">
                  <div class="container-21">
                    <div class="text-wrapper-6">INCOTERM</div>
                  </div>
                  <div class="container-22">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-24">
                  <div class="container-21">
                    <div class="text-wrapper-6">WEIGHT (KG)</div>
                  </div>
                  <div class="container-22">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-25">
                  <div class="container-21">
                    <div class="text-wrapper-6">VOLUME (M³)</div>
                  </div>
                  <div class="container-22">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-26">
                  <div class="container-21">
                    <div class="text-wrapper-6">ETD</div>
                  </div>
                  <div class="container-22">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
                <div class="container-27">
                  <div class="container-21">
                    <div class="text-wrapper-6">ETA</div>
                  </div>
                  <div class="container-22">
                    <div class="text-wrapper-7 editable" contenteditable="true"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section-goods-table">
          <div class="row-wrapper">
            <div class="row">
              <div class="cell">
                <div class="text-wrapper-15">DESCRIPTION</div>
              </div>
              <div class="cell-2">
                <div class="text-wrapper-16">QUANTITY</div>
              </div>
              <div class="cell-3">
                <div class="text-wrapper-17">CUR.</div>
              </div>
              <div class="cell-4">
                <div class="text-wrapper-18">EX. RATE</div>
              </div>
              <div class="cell-5">
                <div class="text-wrapper-19">AMOUNT/QTY</div>
              </div>
              <div class="cell-6">
                <div class="text-wrapper-20">UNIT PRICE</div>
              </div>
              <div class="cell-7">
                <div class="text-wrapper-21">TAXES</div>
              </div>
              <div class="cell-8">
                <div class="text-wrapper-22">AMOUNT</div>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="row-2">
              <div class="data">
                <div class="text-wrapper-23 editable" contenteditable="true"></div>
              </div>
              <div class="data-2">
                <div class="text-wrapper-24 editable" contenteditable="true"></div>
              </div>
              <div class="data-3">
                <div class="text-wrapper-25 editable" contenteditable="true"></div>
              </div>
              <div class="data-4">
                <div class="text-wrapper-26 editable" contenteditable="true"></div>
              </div>
              <div class="data-5">
                <div class="text-wrapper-27 editable" contenteditable="true"></div>
              </div>
              <div class="data-6">
                <div class="text-wrapper-28 editable" contenteditable="true"></div>
              </div>
              <div class="data-7">
                <div class="text-wrapper-29 editable" contenteditable="true"></div>
              </div>
              <div class="data-8">
                <div class="text-wrapper-30 editable" contenteditable="true"></div>
              </div>
              <div class="delete-action"><img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png"
                  class="delete-icon" /></div>
            </div>
          </div>
          <div class="add-row-container">
            <button class="add-button" type="button" id="add-awb-row-btn">AGREGAR FILA</button>
          </div>
        </div>

        <div class="total">
          <div class="right-side-totals">
            <div class="container-38">
              <div class="container-39">
                <div class="container-40">
                  <div class="text-wrapper-32">UNTAXED AMOUNT</div>
                </div>
                <div class="container-41">
                  <div class="text-wrapper-33 editable" contenteditable="true"></div>
                </div>
              </div>
              <div class="container-39">
                <div class="container-41">
                  <div class="tax-ES">TAXES</div>
                </div>
                <div class="container-42">
                  <div class="text-wrapper-34 editable" contenteditable="true">$0.00 USD</div>
                </div>
              </div>
              <div class="background">
                <div class="margin">
                  <div class="total-USD">TOTAL (USD)</div>
                </div>
                <div class="container-43">
                  <div class="text-wrapper-35 editable" contenteditable="true"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="left-side-notes">
          <div class="container-44">
            <div class="div-2"><img class="icon-3"
                src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-7.svg" /></div>
            <div class="div-2">
              <div class="notes">NOTES</div>
            </div>
          </div>
          <div class="please-use-the-wrapper">
            <p class="please-use-the editable" contenteditable="true"></p>
          </div>
        </div>

      </div>
    </div>

    <footer class="footer">
      <div class="container-45">
        <div class="container-41">
          <div class="container-6">
            <div class="ocean-operations">OCEAN OPERATIONS</div>
          </div>
          <div class="container-46">
            <p class="text-wrapper-37">Av Ventisquero 1111, Bodega 58, Renca, Santiago, RM 7550000. CHILE</p>
          </div>
        </div>
      </div>
      <div class="container-47">
        <div class="background-2">
          <div class="div-2"><img class="icon-5"
              src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-5.svg" /></div>
        </div>
        <div class="container-48">
          <div class="text-wrapper-38">www.sclcargo.cl</div>
        </div>
      </div>
    </footer>

  </div>

  <script>
    // LÓGICA DE CÁLCULO DINÁMICO DE TOTALES
    function calcularTotales() {
      let subtotal = 0;

      // 1. Recorremos todas las filas y sumamos SOLAMENTE la columna AMOUNT (data-8)
      const rows = document.querySelectorAll('.invoice .body .row-2, .invoice .body .row-3');

      rows.forEach(row => {
        const amountEl = row.querySelector('.data-8 .editable');

        if (amountEl) {
          // Limpiamos el texto para quedarnos solo con números y decimales
          const amountText = amountEl.innerText.replace(/[^0-9.-]+/g, '');
          const amount = parseFloat(amountText) || 0;
          subtotal += amount;
        }
      });

      // 2. Actualizamos el UNTAXED AMOUNT con la suma total
      const untaxedEl = document.querySelector('.text-wrapper-33.editable');
      if (untaxedEl) {
        untaxedEl.innerText = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(subtotal) + ' USD';
      }

      // 3. Leemos el TAX manual escrito por el usuario
      const taxEl = document.querySelector('.text-wrapper-34.editable');
      let tax = 0;
      if (taxEl) {
        const taxText = taxEl.innerText.replace(/[^0-9.-]+/g, '');
        tax = parseFloat(taxText) || 0;
      }

      // 4. Sumamos y actualizamos el TOTAL (Subtotal + Tax)
      const totalEl = document.querySelector('.text-wrapper-35.editable');
      if (totalEl) {
        const totalFinal = subtotal + tax;
        totalEl.innerText = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(totalFinal);
      }
    }

    // Escuchar escritura en cualquier campo editable para recalcular
    document.addEventListener('input', function (e) {
      if (e.target.classList.contains('editable')) {
        calcularTotales();
      }
    });

    document.addEventListener('click', function (e) {
      // LÓGICA PARA ELIMINAR FILA
      const deleteBtn = e.target.closest('.delete-action');
      if (deleteBtn) {
        const row = deleteBtn.closest('.row-2, .row-3');
        const invoice = deleteBtn.closest('.invoice');

        if (row && invoice) {
          row.remove();

          calcularTotales(); // Recalcular inmediatamente al borrar

          // Si vaciamos por completo el body de una hoja (y no es la primera)
          const body = invoice.querySelector('.body');
          if (body && body.children.length === 0) {
            const allInvoices = Array.from(document.querySelectorAll('.invoice'));
            const index = allInvoices.indexOf(invoice);

            if (index > 0) {
              const prevInvoice = allInvoices[index - 1];
              const prevContainer4 = prevInvoice.querySelector('.container-4');

              const totals = invoice.querySelector('.total');
              const notes = invoice.querySelector('.left-side-notes');
              const addBtn = invoice.querySelector('.add-row-container');

              if (addBtn) prevContainer4.appendChild(addBtn);
              if (totals) prevContainer4.appendChild(totals);
              if (notes) prevContainer4.appendChild(notes);

              invoice.remove();
            }
          }
          notificarAlturaAReact();
        }
        return;
      }

      // LÓGICA PARA AGREGAR FILA
      const addBtn = e.target.closest('.add-button');
      if (addBtn) {
        const allInvoices = Array.from(document.querySelectorAll('.invoice'));
        const lastInvoice = allInvoices[allInvoices.length - 1];
        const body = lastInvoice.querySelector('.body');

        if (!body) return;

        const rows = body.querySelectorAll('.row-2, .row-3');
        if (rows.length === 0) return;

        const lastRow = rows[rows.length - 1];
        const newRow = lastRow.cloneNode(true);

        // Limpiar el contenido de la nueva fila (dejando el AMOUNT en 0 o vacio)
        const editables = newRow.querySelectorAll('.editable');
        editables.forEach(el => el.innerText = '');

        // Límite de filas
        const limit = (allInvoices.length === 1) ? 4 : 15;

        if (rows.length < limit) {
          body.appendChild(newRow);
        } else {
          const newInvoice = lastInvoice.cloneNode(true);
          const container4 = newInvoice.querySelector('.container-4');

          const topRow = container4.querySelector('.top-row-requested-by');
          const group = container4.querySelector('.group');
          if (topRow) topRow.remove();
          if (group) group.remove();

          const newBody = container4.querySelector('.body');
          newBody.innerHTML = '';
          newBody.appendChild(newRow);

          const oldTotals = lastInvoice.querySelector('.total');
          const oldNotes = lastInvoice.querySelector('.left-side-notes');
          const oldAddBtn = lastInvoice.querySelector('.add-row-container');

          if (oldTotals) oldTotals.remove();
          if (oldNotes) oldNotes.remove();
          if (oldAddBtn) oldAddBtn.remove();

          lastInvoice.parentNode.appendChild(newInvoice);
        }

        calcularTotales();
        notificarAlturaAReact();
      }
    });

    // COMUNICACIÓN CON REACT PARA AJUSTAR LA PANTALLA
    function notificarAlturaAReact() {
      const hojas = document.querySelectorAll('.invoice');
      let alturaRealExacta = 0;

      hojas.forEach(hoja => {
        const estilos = window.getComputedStyle(hoja);
        const margenSuperior = parseFloat(estilos.marginTop) || 0;
        const margenInferior = parseFloat(estilos.marginBottom) || 0;
        alturaRealExacta += hoja.offsetHeight + margenSuperior + margenInferior;
      });

      window.parent.postMessage({ type: 'RESIZE_INVOICE', height: alturaRealExacta }, '*');
    }

    window.addEventListener('load', () => {
      notificarAlturaAReact();
      calcularTotales();
    });

    const observer = new MutationObserver(notificarAlturaAReact);
    observer.observe(document.body, { childList: true, subtree: true });
  </script>
</body>

</html>