<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="invoice">
      <div class="header">
        <div class="container">
          <img class="img" src="img/container-2.svg" />
          <div class="container-wrapper">
            <div class="div">
              <div class="container-2">
                <div class="div-wrapper"><div class="text-wrapper">INVOICE</div></div>
                <div class="div-wrapper"><div class="text-wrapper-2">INV-3802</div></div>
              </div>
              <div class="container-3">
                <div class="div-wrapper"><div class="text-wrapper-3">DATE</div></div>
                <div class="div-wrapper"><div class="text-wrapper-4">Mar/12/2026 11:30 am</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="container-4">
          <div class="top-row-requested-by">
            <div class="requested-by-section">
              <div class="horizontal-border">
                <div class="div-2"><img class="icon" src="img/image.svg" /></div>
                <div class="heading"><div class="text-wrapper-5">CUSTOMER</div></div>
              </div>
              <div class="background-border">
                <div class="container-5">
                  <div class="container-6"><div class="text-wrapper-6">NAME / COMPANY</div></div>
                  <div class="container-6"><div class="text-wrapper-7">AUDIO REFERENCE LATAM SPA</div></div>
                </div>
                <div class="container-7">
                  <div class="container-6"><div class="text-wrapper-6">ADDRESS</div></div>
                  <div class="container-8"><p class="p">AVENIDA LA DEHESA 222 OFFICE 814, LO BARNECHEA. CHILE</p></div>
                </div>
              </div>
            </div>
            <div class="quote-details">
              <div class="horizontal-border-2">
                <div class="icon-wrapper"><img class="icon-2" src="img/icon.svg" /></div>
                <div class="heading-2"><div class="text-wrapper-8">INVOICE DETAILS</div></div>
                <div class="container-9">
                  <div class="container-10"><div class="created-by">CREATED BY</div></div>
                  <div class="container-10"><div class="text-wrapper-9">Rodrigo Mora</div></div>
                </div>
              </div>
              <div class="background-border-2">
                <div class="container-11">
                  <div class="container-12">
                    <div class="container-6"><div class="text-wrapper-6">TAX ID</div></div>
                    <div class="container-6"><div class="text-wrapper-7">77815051-4</div></div>
                  </div>
                  <div class="container-13">
                    <div class="container-6"><div class="text-wrapper-6">REFERENCE</div></div>
                    <div class="container-6"><div class="text-wrapper-7">AIR-I-LSE-H-N-2026-01792</div></div>
                  </div>
                  <div class="container-14">
                    <div class="container-6"><div class="text-wrapper-6">INVOICE DATE</div></div>
                    <div class="container-6"><div class="text-wrapper-7">03/12/2026</div></div>
                  </div>
                  <div class="container-15">
                    <div class="container-6"><div class="text-wrapper-10">DUE DATE</div></div>
                    <div class="container-6"><div class="text-wrapper-7">03/12/2026</div></div>
                  </div>
                  <div class="container-16">
                    <div class="container-6"><div class="text-wrapper-6">MBL NUMBER</div></div>
                    <div class="container-6"><div class="text-wrapper-7">369-98284270</div></div>
                  </div>
                  <div class="container-17">
                    <div class="container-6"><div class="text-wrapper-6">HBL NUMBER</div></div>
                    <div class="container-6"><div class="text-wrapper-7">HAWB00099593</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="quote-details-2">
              <img class="horizontal-border-3" src="img/horizontal-border.svg" />
              <div class="background-border-3">
                <div class="container-18">
                  <div class="container-19">
                    <div class="container-6"><div class="text-wrapper-6">PORT OF ORIGIN</div></div>
                    <div class="container-6"><p class="text-wrapper-7">MIAMI INT’L - [UNITED STATES - MIA]</p></div>
                  </div>
                  <div class="container-13">
                    <div class="container-6"><div class="text-wrapper-6">PORT OF DESTINATION</div></div>
                    <div class="container-6"><div class="text-wrapper-7">Aéreo</div></div>
                  </div>
                  <div class="container-20">
                    <div class="container-21"><div class="text-wrapper-6">INCOTERM</div></div>
                    <div class="container-22"><div class="text-wrapper-7">EXW-EX WORKS</div></div>
                  </div>
                  <div class="container-23">
                    <div class="container-21"><div class="text-wrapper-6">Weight(kg)</div></div>
                    <div class="container-22"><div class="text-wrapper-7">274.0</div></div>
                  </div>
                  <div class="container-24">
                    <div class="container-21"><div class="text-wrapper-6">VOLUME (M³)</div></div>
                    <div class="container-22"><div class="text-wrapper-7">0.0</div></div>
                  </div>
                  <div class="container-25">
                    <div class="container-21"><div class="text-wrapper-6">ETD</div></div>
                    <div class="container-22"><div class="text-wrapper-7">03/10/2026</div></div>
                  </div>
                  <div class="container-26">
                    <div class="container-21"><div class="text-wrapper-6">ETA</div></div>
                    <div class="container-22"><div class="text-wrapper-7">03/11/2026</div></div>
                  </div>
                  <div class="container-27">
                    <div class="container-28"><div class="text-wrapper-11">NUMBER OF PACKS</div></div>
                    <div class="container-29"><div class="text-wrapper-12">2 PKG (Package)</div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="requested-by-section-2">
              <div class="horizontal-border-4">
                <img class="img" src="img/container.svg" />
                <div class="heading-3"><div class="text-wrapper-13">SHIPPER</div></div>
              </div>
              <div class="background-border-4">
                <div class="container-30">
                  <div class="container-6"><div class="text-wrapper-6">NAME / COMPANY</div></div>
                  <div class="container-6"><div class="text-wrapper-7">WILSON AUDIO</div></div>
                </div>
                <div class="container-31">
                  <div class="container-6"><div class="text-wrapper-6">CONSIGNEE</div></div>
                  <div class="container-6"><div class="text-wrapper-7">AUDIO REFERENCE LATAM SPA</div></div>
                </div>
                <div class="container-32">
                  <div class="container-6"><div class="text-wrapper-6">SHIPPER REF. NO</div></div>
                  <div class="container-6"><div class="text-wrapper-7">-</div></div>
                </div>
                <div class="container-33">
                  <div class="container-6"><div class="text-wrapper-6">VESSEL</div></div>
                  <div class="container-6"><div class="text-wrapper-7">-</div></div>
                </div>
                <div class="container-34">
                  <div class="container-6"><div class="text-wrapper-14">VOYAGE NUMBER</div></div>
                  <div class="container-6"><div class="text-wrapper-7">-</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-goods-table">
            <div class="row-wrapper">
              <div class="row">
                <div class="cell"><div class="text-wrapper-15">DESCRIPTION</div></div>
                <div class="cell-2"><div class="text-wrapper-16">QUANTITY</div></div>
                <div class="cell-3"><div class="text-wrapper-17">CUR.</div></div>
                <div class="cell-4"><div class="text-wrapper-18">EX. RATE</div></div>
                <div class="cell-5"><div class="text-wrapper-19">AMOUNT/QTY</div></div>
                <div class="cell-6"><div class="text-wrapper-20">UNIT PRICE</div></div>
                <div class="cell-7"><div class="text-wrapper-21">TAXES</div></div>
                <div class="cell-8"><div class="text-wrapper-22">AMOUNT</div></div>
              </div>
            </div>
            <div class="body">
              <div class="row-2">
                <div class="data"><div class="text-wrapper-23">T-FLETE TERRESTRE</div></div>
                <div class="data-2">
                  <div class="container-35"><div class="text-wrapper-24">1.00</div></div>
                </div>
                <div class="data-3">
                  <div class="container-36"><div class="text-wrapper-25">157.89</div></div>
                </div>
                <div class="data-4"><div class="text-wrapper-26">USD</div></div>
                <div class="data-5"><div class="text-wrapper-27">1.000</div></div>
                <div class="data-6"><div class="text-wrapper-28">157.89</div></div>
                <div class="data-7">
                  <div class="container-37"><div class="text-wrapper-29">19%</div></div>
                </div>
                <div class="data-8"><div class="text-wrapper-30">$157.89</div></div>
              </div>
              <div class="row-3">
                <div class="data"><div class="text-wrapper-23">T-HANDLING</div></div>
                <div class="data-2">
                  <div class="container-35"><div class="text-wrapper-24">1.00</div></div>
                </div>
                <div class="data-3">
                  <div class="container-36"><div class="text-wrapper-24">36.84</div></div>
                </div>
                <div class="data-4"><div class="text-wrapper-26">USD</div></div>
                <div class="data-5"><div class="text-wrapper-27">1.000</div></div>
                <div class="data-6"><div class="text-wrapper-27">36.84</div></div>
                <div class="data-9">
                  <div class="container-37"><div class="text-wrapper-29">19%</div></div>
                </div>
                <div class="data-8"><div class="text-wrapper-31">$36.84</div></div>
              </div>
            </div>
            <div class="total">
              <div class="right-side-totals">
                <div class="container-38">
                  <div class="container-39">
                    <div class="container-40"><div class="text-wrapper-32">UNTAXED AMOUNT</div></div>
                    <div class="container-41"><div class="text-wrapper-33">$194.74 USD</div></div>
                  </div>
                  <div class="container-39">
                    <div class="container-41"><div class="tax-ES">TAXES</div></div>
                    <div class="container-42"><div class="text-wrapper-34">$37.00 USD</div></div>
                  </div>
                  <div class="background">
                    <div class="margin"><div class="total-USD">TOTAL (USD)</div></div>
                    <div class="container-43"><div class="text-wrapper-35">$231.74</div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="left-side-notes">
              <div class="container-44">
                <div class="div-2"><img class="icon-3" src="img/icon-2.svg" /></div>
                <div class="div-2"><div class="notes">NOTES</div></div>
              </div>
              <div class="please-use-the-wrapper">
                <p class="please-use-the">
                  <span class="span">Please use the following communication for your payment: </span>
                  <span class="text-wrapper-36">INV-3802 </span>
                  <span class="span">on this account: </span>
                  <span class="text-wrapper-36">BE15001242 - Banco de Crédito e Inversiones</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-45">
          <div class="container-41">
            <div class="container-6"><div class="ocean-operations">OCEAN OPERATIONS</div></div>
            <div class="container-46">
              <p class="text-wrapper-37">Av Ventisquero 1111, Bodega 58, Renca, Santiago, RM 7550000. CHILE</p>
            </div>
          </div>
        </div>
        <div class="container-47">
          <div class="background-2">
            <div class="div-2"><img class="icon-4" src="img/icon-3.svg" /></div>
          </div>
          <div class="container-48"><div class="text-wrapper-38">www.sclcargo.cl</div></div>
        </div>
      </footer>
    </div>
  </body>
</html>
