<!DOCTYPE html>
<html lang="es">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />

</head>

<body>
  <div id="document-container">

    <div class="arrival-notice">
      <header class="header">
        <div class="container">
          <img class="img" src="https://storage.googleapis.com/sclcargo/web/Home/logo-largo.png" alt="SCL Cargo Logo" />
          <div class="header-right">
            <div class="header-title">ARRIVAL NOTICE - AIR - UNRATED</div>
            <div class="header-value editable sync-doc" contenteditable="true">0-0</div>
            <div class="header-label">DATE</div>
            <div class="header-date editable date-auto sync-date" contenteditable="true"></div>
          </div>
        </div>
      </header>

      <div class="main">
        <div class="container-4">

          <div class="grid-4 block-to-remove">
            <div class="box-section">
              <div class="horizontal-border"><img class="icon"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" />
                <div class="heading">SHIPPER</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">NAME / COMPANY</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">ADDRESS</div>
                  <div class="value editable" contenteditable="true">
                  </div>
                </div>
                <div class="data-block">
                  <div class="label">PHONE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">EMAIL</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>

            <div class="box-section">
              <div class="horizontal-border"><img class="icon"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" />
                <div class="heading">CONSIGNEE</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">NAME / COMPANY</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">RUT</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">ADDRESS</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">PHONE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">EMAIL</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>

            <div class="box-section">
              <div class="horizontal-border"><img class="icon"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" />
                <div class="heading">NOTIFY PARTY</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">NAME / COMPANY</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">RUT</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">ADDRESS</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">PHONE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">EMAIL</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>

            <div class="box-section">
              <div class="horizontal-border"><img class="icon"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" />
                <div class="heading">BROKER</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">NAME / COMPANY</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">RUT</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">ADDRESS</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">PHONE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">EMAIL</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="arrival-section block-to-remove">
            <div class="horizontal-border"><img class="icon-2"
                src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-2.svg" />
              <div class="heading">ARRIVAL DETAILS</div>
            </div>
            <div class="background-border grid-details">
              <div class="data-block">
                <div class="label">MASTER AIR WAYBILL</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">HOUSE AIR WAYBILL</div>
                <div class="value editable sync-doc" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">AMS AIR WAYBILL</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">SUB-HOUSE AIR WAYBILL</div>
                <div class="value editable" contenteditable="true"></div>
              </div>

              <div class="data-block">
                <div class="label">CUSTOMER REFERENCE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">IT NUMBER</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">IT DATE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">IT LOCATION</div>
                <div class="value editable" contenteditable="true"></div>
              </div>

              <div class="data-block">
                <div class="label">FIRMS CODE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">CARRIER</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">FLIGHT NUMBER/DATE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">TYPE OF MOVE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>

              <div class="data-block">
                <div class="label">RELEASE TYPE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">GOODS TO BE CLEARED BY</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">PORT OF LOADING</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">ETD</div>
                <div class="value editable" contenteditable="true"></div>
              </div>

              <div class="data-block">
                <div class="label">PORT OF DISCHARGE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">ETA</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">FINAL DESTINATION</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">ETA</div>
                <div class="value editable" contenteditable="true"></div>
              </div>

              <div class="data-block">
                <div class="label">AVAILABLE DATE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">LAST FREE DAY</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">GENERAL ORDER DATE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
            </div>
          </div>

          <div class="grid-3 block-to-remove">
            <div class="box-section">
              <div class="horizontal-border"><img class="icon"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-3.svg" />
                <div class="heading">1ST CARRIER</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">CARRIER</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">PORT</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">FLIGHT NUMBER</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">DATE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>

            <div class="box-section">
              <div class="horizontal-border"><img class="icon"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-3.svg" />
                <div class="heading">2ND CARRIER</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">CARRIER</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">PORT</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">FLIGHT NUMBER</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">DATE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>

            <div class="box-section bill-to">
              <div class="horizontal-border"><img class="icon"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-4.svg" />
                <div class="heading">BILL TO</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">NAME/COMPANY</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">ADDRESS</div>
                  <div class="value editable font-small" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">PHONE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">EMAIL</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="section-goods-table">
            <div class="row-header">
              <div class="col-marks">MARKS AND NUMBERS</div>
              <div class="col-packs text-center">NUMBERS OF PACKAGES</div>
              <div class="col-desc text-center">DESCRIPTION COMMODITIES</div>
              <div class="col-gw text-center">GROSS WEIGHT</div>
              <div class="col-cw text-center">CHARGEABLE WEIGHT</div>
            </div>
            <div class="body">
              <div class="row-item">
                <div class="col-marks editable" contenteditable="true"></div>
                <div class="col-packs editable text-center calc-pcs" contenteditable="true"></div>
                <div class="col-desc editable text-center" contenteditable="true"></div>
                <div class="col-gw editable text-center calc-gw" contenteditable="true"></div>
                <div class="col-cw editable text-center calc-cw" contenteditable="true"></div>
                <div class="delete-action"><img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png"
                    class="delete-icon" /></div>
              </div>
            </div>
            <div class="add-row-container">
              <button class="add-button" type="button" id="add-awb-row-btn">AGREGAR FILA</button>
            </div>
          </div>

        </div>
      </div>

      <div class="totals-bar-wrapper">
        <div class="totals-bar">
          <div class="tot-block">
            <div class="tot-label">TOTAL PIECES</div>
            <div class="tot-value val-pcs">2 PCS</div>
          </div>
          <div class="tot-block">
            <div class="tot-label">TOTAL GROSS WEIGHT</div>
            <div class="tot-value val-gw">914.00 kg</div>
          </div>
          <div class="tot-block">
            <div class="tot-label">TOTAL VOL WEIGHT</div>
            <div class="tot-value val-cw">914.00 VKg</div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="footer-left">
          <div class="ocean-operations">OCEAN OPERATIONS</div>
          <div class="footer-address">Av Ventisquero 1111, Bodega 58, Renca, Santiago, RM 7550000. CHILE</div>
        </div>
        <div class="footer-right">
          <div class="icon-circle"><img class="icon-web"
              src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-5.svg" /></div>
          <div class="web-address">www.sclcargo.cl</div>
        </div>
      </footer>

    </div>
  </div>

  <script>
    function setearFechaHoraActual() {
      const dateElements = document.querySelectorAll('.date-auto');
      dateElements.forEach(el => {
        if (!el.innerText.trim()) {
          const now = new Date();
          const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          el.innerText = `${monthNames[now.getMonth()]}/${String(now.getDate()).padStart(2, '0')}/${now.getFullYear()} ${now.getHours() % 12 || 12}:${String(now.getMinutes()).padStart(2, '0')} ${now.getHours() >= 12 ? 'pm' : 'am'}`;
        }
      });
    }

    function calcularTotales() {
      let sumPcs = 0, sumGw = 0, sumCw = 0;
      document.querySelectorAll('.arrival-notice .body .row-item').forEach(row => {
        const pcsEl = row.querySelector('.calc-pcs'), gwEl = row.querySelector('.calc-gw'), cwEl = row.querySelector('.calc-cw');
        if (pcsEl) sumPcs += parseFloat(pcsEl.innerText.replace(/[^0-9.-]+/g, '')) || 0;
        if (gwEl) sumGw += parseFloat(gwEl.innerText.replace(/[^0-9.-]+/g, '')) || 0;
        if (cwEl) sumCw += parseFloat(cwEl.innerText.replace(/[^0-9.-]+/g, '')) || 0;
      });

      document.querySelectorAll('.val-pcs').forEach(el => el.innerText = sumPcs + ' PCS');
      document.querySelectorAll('.val-gw').forEach(el => el.innerText = sumGw.toFixed(2) + ' kg');
      document.querySelectorAll('.val-cw').forEach(el => el.innerText = sumCw.toFixed(2) + ' VKg');
    }

    // 🔴 COMUNICACIÓN HACIA EL OTRO IFRAME MEDIANTE REACT
    document.addEventListener('input', function (e) {
      if (e.target.classList.contains('sync-doc')) {
        const val = e.target.innerText;
        document.querySelectorAll('.sync-doc').forEach(el => { if (el !== e.target) el.innerText = val; });
        window.parent.postMessage({ type: 'SYNC_HEADER', field: 'doc', value: val }, '*');
      }
      if (e.target.classList.contains('sync-date')) {
        const val = e.target.innerText;
        document.querySelectorAll('.sync-date').forEach(el => { if (el !== e.target) el.innerText = val; });
        window.parent.postMessage({ type: 'SYNC_HEADER', field: 'date', value: val }, '*');
      }
      if (e.target.classList.contains('calc-pcs') || e.target.classList.contains('calc-gw') || e.target.classList.contains('calc-cw')) {
        calcularTotales();
      }
    });

    // 🔴 RECIBIR COMUNICACIÓN DEL OTRO IFRAME
    window.addEventListener('message', function (event) {
      if (event.data?.type === 'SYNC_HEADER') {
        if (event.data.field === 'doc') document.querySelectorAll('.sync-doc').forEach(el => el.innerText = event.data.value);
        if (event.data.field === 'date') document.querySelectorAll('.sync-date').forEach(el => el.innerText = event.data.value);
      }
    });

    document.addEventListener('click', function (e) {
      const deleteBtn = e.target.closest('.delete-action');
      if (deleteBtn) {
        const row = deleteBtn.closest('.row-item');
        const hoja = deleteBtn.closest('.arrival-notice');
        if (row && hoja) {
          row.remove();
          calcularTotales();
          const body = hoja.querySelector('.body');
          if (body && body.children.length === 0) {
            const allHojas = Array.from(document.querySelectorAll('.arrival-notice'));
            const index = allHojas.indexOf(hoja);
            if (index > 0) {
              const prevHoja = allHojas[index - 1];
              const totals = hoja.querySelector('.totals-bar-wrapper');
              const addBtn = hoja.querySelector('.add-row-container');
              if (addBtn) prevHoja.querySelector('.section-goods-table').appendChild(addBtn);
              if (totals) prevHoja.insertBefore(totals, prevHoja.querySelector('.footer'));
              hoja.remove();
            }
          }
          notificarAlturaAReact();
        }
        return;
      }

      const addBtn = e.target.closest('.add-button');
      if (addBtn) {
        const allHojas = Array.from(document.querySelectorAll('.arrival-notice'));
        const lastHoja = allHojas[allHojas.length - 1];
        const body = lastHoja.querySelector('.body');
        if (!body) return;
        const rows = body.querySelectorAll('.row-item');
        if (rows.length === 0) return;

        const lastRow = rows[rows.length - 1];
        const newRow = lastRow.cloneNode(true);
        newRow.querySelectorAll('.editable').forEach(el => el.innerText = '0');

        const limit = (allHojas.length === 1) ? 3 : 15;
        if (rows.length < limit) {
          body.appendChild(newRow);
        } else {
          const newHoja = lastHoja.cloneNode(true);
          newHoja.querySelectorAll('.block-to-remove').forEach(block => block.remove());
          const newBody = newHoja.querySelector('.body');
          newBody.innerHTML = '';
          newBody.appendChild(newRow);

          const oldTotals = lastHoja.querySelector('.totals-bar-wrapper');
          const oldAddBtn = lastHoja.querySelector('.add-row-container');
          if (oldTotals) oldTotals.remove();
          if (oldAddBtn) oldAddBtn.remove();
          document.getElementById('document-container').appendChild(newHoja);
        }
        calcularTotales();
        notificarAlturaAReact();
      }
    });

    function notificarAlturaAReact() {
      const contenedor = document.getElementById('document-container');
      if (contenedor) window.parent.postMessage({ type: 'RESIZE_ARRIVAL_1', height: contenedor.offsetHeight + 40 }, '*');
    }

    window.addEventListener('load', () => {
      setearFechaHoraActual();
      calcularTotales();
      setTimeout(notificarAlturaAReact, 100);
    });

    const observer = new MutationObserver(notificarAlturaAReact);
    observer.observe(document.body, { childList: true, subtree: true });
  </script>
</body>

</html>