<!DOCTYPE html>
<html lang="es">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />

</head>

<body>
  <div class="watermark-controls" data-html2canvas-ignore="true">
    <span class="watermark-tag" data-text="DRAFT">DRAFT</span>
    <span class="watermark-tag" data-text="CONFIDENCIAL">CONFIDENCIAL</span>
    <span class="watermark-tag" data-text="COPY">COPY</span>
    <span class="watermark-tag" data-text="ORIGINAL">ORIGINAL</span>
  </div>
  <div id="document-container">

    <div class="arrival-notice-ocean">
      <div class="watermark-display"></div>

      <header class="header">
        <div class="container">
          <img class="img" src="https://storage.googleapis.com/sclcargo/web/Home/logo-largo.png" alt="SCL Cargo Logo" />

          <div class="header-right">
            <div class="header-title">ARRIVAL NOTICE - OCEAN - UNRATED</div>
            <div class="header-value editable sync-doc" contenteditable="true">(H)0</div>
            <div class="header-label">DATE</div>
            <div class="header-date editable date-auto sync-date" contenteditable="true"></div>
          </div>
        </div>
      </header>

      <div class="main">
        <div class="container-4">

          <div class="grid-4 block-to-remove">
            <div class="box-section">
              <div class="horizontal-border">
                <img class="icon" src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" />
                <div class="heading">SHIPPER</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">NAME / COMPANY</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">ADDRESS</div>
                  <div class="value editable" contenteditable="true">
                  </div>
                </div>
                <div class="data-block">
                  <div class="label">PHONE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">EMAIL</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>

            <div class="box-section">
              <div class="horizontal-border">
                <img class="icon" src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" />
                <div class="heading">CONSIGNEE</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">NAME / COMPANY</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">RUT</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">ADDRESS</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">PHONE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">EMAIL</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>

            <div class="box-section">
              <div class="horizontal-border">
                <img class="icon" src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" />
                <div class="heading">NOTIFY PARTY</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">NAME / COMPANY</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">RUT</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">ADDRESS</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">PHONE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">EMAIL</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>

            <div class="box-section">
              <div class="horizontal-border">
                <img class="icon" src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" />
                <div class="heading">BROKER</div>
              </div>
              <div class="background-border">
                <div class="data-block">
                  <div class="label">NAME / COMPANY</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">RUT</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">ADDRESS</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">PHONE</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
                <div class="data-block">
                  <div class="label">EMAIL</div>
                  <div class="value editable" contenteditable="true"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="arrival-section block-to-remove">
            <div class="horizontal-border">
              <img class="icon-2" src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-2.svg" />
              <div class="heading">ARRIVAL DETAILS</div>
            </div>
            <div class="background-border grid-5">
              <div class="data-block">
                <div class="label">MASTER BILL OF LADING</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">HOUSE BILL OF LADING</div>
                <div class="value editable sync-doc" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">AMS BILL OF LADING</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">SUB-HOUSE BILL OF LADING</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">CUSTOMER REFERENCE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>

              <div class="data-block">
                <div class="label">IT NUMBER</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">IT DATE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">IT LOCATION</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">CARRIER</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">VESSEL/VOYAGE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>

              <div class="data-block">
                <div class="label">TYPE OF MOVE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">RELEASE TYPE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">PORT OF LOADING</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">ETD</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">PORT OF DISCHARGE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>

              <div class="data-block">
                <div class="label">ETA</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">FINAL DESTINATION</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">ETA</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">GOODS TO BE DECLARED BY</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">AVAILABLE DATE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>

              <div class="data-block">
                <div class="label">LAST FREE DAY</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">GENERAL ORDER DATE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">FIRMS CODE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
            </div>
          </div>

          <div class="bill-to-section block-to-remove">
            <div class="horizontal-border">
              <img class="icon" src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-4.svg" />
              <div class="heading">BILL TO</div>
            </div>
            <div class="background-border grid-4-wide">
              <div class="data-block">
                <div class="label">NAME/COMPANY</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">ADDRESS</div>
                <div class="value editable font-small" contenteditable="true">
                </div>
              </div>
              <div class="data-block">
                <div class="label">PHONE</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
              <div class="data-block">
                <div class="label">EMAIL</div>
                <div class="value editable" contenteditable="true"></div>
              </div>
            </div>
          </div>

          <div class="section-goods-table">
            <div class="row-header">
              <div class="col-marks">MARKS AND NUMBERS</div>
              <div class="col-packs text-center">NUMBERS OF PACKAGES</div>
              <div class="col-desc text-center">DESCRIPTION COMMODITIES</div>
              <div class="col-gw text-center">GROSS WEIGHT</div>
              <div class="col-cw text-center">VOL WEIGHT</div>
            </div>
            <div class="body">
              <div class="row-item">
                <div class="col-marks editable" contenteditable="true"></div>
                <div class="col-packs editable text-center calc-pcs" contenteditable="true"></div>
                <div class="col-desc editable text-center" contenteditable="true"></div>
                <div class="col-gw editable text-center calc-gw" contenteditable="true"></div>
                <div class="col-cw editable text-center calc-vw" contenteditable="true"></div>
                <div class="delete-action"><img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png"
                    class="delete-icon" /></div>
              </div>
            </div>
            <div class="add-row-container">
              <button class="add-button" type="button" id="add-awb-row-btn">AGREGAR FILA</button>
            </div>
          </div>

        </div>
      </div>
      <div class="totals-bar-wrapper">
        <div class="totals-bar">
          <div class="tot-block">
            <div class="tot-label">TOTAL PIECES</div>
            <div class="tot-value val-pcs">1080 PCS</div>
          </div>
          <div class="tot-block">
            <div class="tot-label">TOTAL GROSS WEIGHT</div>
            <div class="tot-value val-gw">26,575.00 kg</div>
          </div>
          <div class="tot-block">
            <div class="tot-label">TOTAL VOL WEIGHT</div>
            <div class="tot-value val-cw">33.19 m³</div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="footer-left">
          <div class="ocean-operations">OCEAN OPERATIONS</div>
          <div class="footer-address">Av Ventisquero 1111, Bodega 58, Renca, Santiago, RM 7550000. CHILE</div>
        </div>
        <div class="footer-right">
          <div class="icon-circle"><img class="icon-web"
              src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-5.svg" /></div>
          <div class="web-address">www.sclcargo.cl</div>
        </div>
      </footer>

    </div>
  </div>
  <script>
    // 1. SETEAR FECHA AUTOMÁTICA
    function setearFechaHoraActual() {
      const dateElements = document.querySelectorAll('.date-auto');
      dateElements.forEach(el => {
        if (!el.innerText.trim()) {
          const now = new Date();
          const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
          const month = monthNames[now.getMonth()];
          const day = String(now.getDate()).padStart(2, '0');
          const year = now.getFullYear();

          let hours = now.getHours();
          const minutes = String(now.getMinutes()).padStart(2, '0');
          const ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12;

          el.innerText = `${month}/${day}/${year} ${hours}:${minutes} ${ampm}`;
        }
      });
    }

    // 2. CÁLCULO DE TOTALES (Específico para OCEAN)
    function calcularTotales() {
      let sumPcs = 0;
      let sumGw = 0;
      let sumVw = 0;

      const rows = document.querySelectorAll('.arrival-notice-ocean .body .row-item');

      rows.forEach(row => {
        const pcsEl = row.querySelector('.calc-pcs');
        const gwEl = row.querySelector('.calc-gw');
        const vwEl = row.querySelector('.calc-vw');

        if (pcsEl) sumPcs += parseFloat(pcsEl.innerText.replace(/[^0-9.-]+/g, '')) || 0;
        if (gwEl) sumGw += parseFloat(gwEl.innerText.replace(/[^0-9.-]+/g, '')) || 0;
        if (vwEl) sumVw += parseFloat(vwEl.innerText.replace(/[^0-9.-]+/g, '')) || 0;
      });

      const resPcs = document.querySelectorAll('.val-pcs');
      const resGw = document.querySelectorAll('.val-gw');
      const resCw = document.querySelectorAll('.val-cw');

      resPcs.forEach(el => el.innerText = new Intl.NumberFormat('en-US').format(sumPcs) + ' PCS');
      resGw.forEach(el => el.innerText = new Intl.NumberFormat('en-US').format(sumGw) + ' kg');
      resCw.forEach(el => el.innerText = sumVw.toFixed(2) + ' m³');
    }

    // 3. EVENTO DE SINCRONIZACIÓN BIDIRECCIONAL 🔴 CORREGIDO CON COMUNICACIÓN AL IFRAME 2
    document.addEventListener('input', function (e) {
      if (e.target.classList.contains('sync-doc')) {
        const newValue = e.target.innerText;
        document.querySelectorAll('.sync-doc').forEach(el => {
          if (el !== e.target) el.innerText = newValue;
        });
        // Enviar a Iframe 2
        window.parent.postMessage({ type: 'SYNC_HEADER', field: 'doc', value: newValue }, '*');
      }

      if (e.target.classList.contains('sync-date')) {
        const newValue = e.target.innerText;
        document.querySelectorAll('.sync-date').forEach(el => {
          if (el !== e.target) el.innerText = newValue;
        });
        // Enviar a Iframe 2
        window.parent.postMessage({ type: 'SYNC_HEADER', field: 'date', value: newValue }, '*');
      }

      if (e.target.classList.contains('calc-pcs') || e.target.classList.contains('calc-gw') || e.target.classList.contains('calc-vw')) {
        calcularTotales();
      }
    });

    // 🔴 RECIBIR COMUNICACIÓN DEL IFRAME 2
    window.addEventListener('message', function (event) {
      if (event.data?.type === 'SYNC_HEADER') {
        if (event.data.field === 'doc') {
          document.querySelectorAll('.sync-doc').forEach(el => el.innerText = event.data.value);
        }
        if (event.data.field === 'date') {
          document.querySelectorAll('.sync-date').forEach(el => el.innerText = event.data.value);
        }
      }
    });

    // 4. AGREGAR Y ELIMINAR FILAS
    document.addEventListener('click', function (e) {

      // ELIMINAR FILA
      const deleteBtn = e.target.closest('.delete-action');
      if (deleteBtn) {
        const row = deleteBtn.closest('.row-item');
        const hoja = deleteBtn.closest('.arrival-notice-ocean');

        if (row && hoja) {
          row.remove();
          calcularTotales();

          const body = hoja.querySelector('.body');
          if (body && body.children.length === 0) {
            const allHojas = Array.from(document.querySelectorAll('.arrival-notice-ocean'));
            const index = allHojas.indexOf(hoja);

            if (index > 0) {
              const prevHoja = allHojas[index - 1];

              // DEVOLVEMOS EL BOTON Y TOTALES A LA HOJA ANTERIOR
              const totals = hoja.querySelector('.totals-bar-wrapper');
              const addBtn = hoja.querySelector('.add-row-container');

              if (addBtn) prevHoja.querySelector('.section-goods-table').appendChild(addBtn);

              if (totals) {
                const prevFooter = prevHoja.querySelector('.footer');
                prevHoja.insertBefore(totals, prevFooter);
              }

              hoja.remove();
            }
          }
          notificarAlturaAReact();
        }
        return;
      }

      // AGREGAR FILA
      const addBtn = e.target.closest('.add-button');
      if (addBtn) {
        const allHojas = Array.from(document.querySelectorAll('.arrival-notice-ocean'));
        const lastHoja = allHojas[allHojas.length - 1];
        const body = lastHoja.querySelector('.body');

        if (!body) return;

        const rows = body.querySelectorAll('.row-item');
        if (rows.length === 0) return;

        const lastRow = rows[rows.length - 1];
        const newRow = lastRow.cloneNode(true);

        const editables = newRow.querySelectorAll('.editable');
        editables.forEach(el => el.innerText = '0');

        // Límite de filas: La primera hoja Ocean tiene muchos bloques, el límite es 6.
        const limit = (allHojas.length === 1) ? 6 : 22;

        if (rows.length < limit) {
          body.appendChild(newRow);
        } else {
          // CLONAMOS LA HOJA
          const newHoja = lastHoja.cloneNode(true);
          const container4 = newHoja.querySelector('.container-4');

          const blocksToRemove = container4.querySelectorAll('.block-to-remove');
          blocksToRemove.forEach(block => block.remove());

          const newBody = container4.querySelector('.body');
          newBody.innerHTML = '';
          newBody.appendChild(newRow);

          // QUITAMOS EL TOTAL Y EL BOTON DE LA HOJA VIEJA
          const oldTotals = lastHoja.querySelector('.totals-bar-wrapper');
          const oldAddBtn = lastHoja.querySelector('.add-row-container');

          if (oldTotals) oldTotals.remove();
          if (oldAddBtn) oldAddBtn.remove();

          document.getElementById('document-container').appendChild(newHoja);
        }

        calcularTotales();
        notificarAlturaAReact();
      }
    });

    // 5. AVISAR A REACT
    function notificarAlturaAReact() {
      const controls = document.querySelector('.watermark-controls');
      const contenedor = document.getElementById('document-container');
      if (contenedor) {
        let totalHeight = contenedor.offsetHeight + 40;
        if (controls) {
          totalHeight += controls.offsetHeight;
        }
        window.parent.postMessage({ type: 'RESIZE_ARRIVAL_1', height: totalHeight }, '*');
      }
    }

    window.addEventListener('load', () => {
      setearFechaHoraActual();
      calcularTotales();
      setTimeout(notificarAlturaAReact, 100);
    });

    const observer = new MutationObserver(notificarAlturaAReact);
    observer.observe(document.body, { childList: true, subtree: true });

    // =========================================================
    // LÓGICA DE MARCAS DE AGUA (SINCRONIZACIÓN)
    // =========================================================
    let activeWatermark = null;

    document.querySelector('.watermark-controls').addEventListener('click', function (e) {
      if (e.target.classList.contains('watermark-tag')) {
        const clickedText = e.target.getAttribute('data-text');
        const allTags = document.querySelectorAll('.watermark-tag');

        if (activeWatermark === clickedText) {
          activeWatermark = null;
          allTags.forEach(tag => tag.classList.remove('active'));
          aplicarMarcaDeAgua('');
        } else {
          activeWatermark = clickedText;
          allTags.forEach(tag => tag.classList.remove('active'));
          e.target.classList.add('active');
          aplicarMarcaDeAgua(clickedText);
        }
      }
    });

    function aplicarMarcaDeAgua(texto) {
      const displays = document.querySelectorAll('.watermark-display');
      const allTags = document.querySelectorAll('.watermark-tag');

      // Actualizar visual localmente
      displays.forEach(display => {
        if (texto === '') {
          display.textContent = '';
          display.classList.remove('active');
        } else {
          display.textContent = texto;
          display.classList.add('active');
        }
      });

      // Actualizar tags locales por si llega el mensaje desde fuera
      allTags.forEach(tag => {
        if (tag.getAttribute('data-text') === texto) {
          tag.classList.add('active');
          activeWatermark = texto;
        } else {
          tag.classList.remove('active');
        }
      });

      // NOTIFICAR AL PADRE (React)
      window.parent.postMessage({ type: 'SET_WATERMARK', text: texto }, '*');
    }

    // Escuchar mensajes por si el padre reenvía algo
    window.addEventListener('message', function (event) {
      if (event.data?.type === 'SET_WATERMARK') {
        const texto = event.data.text;
        const displays = document.querySelectorAll('.watermark-display');
        const allTags = document.querySelectorAll('.watermark-tag');

        displays.forEach(display => {
          if (texto === '') {
            display.textContent = '';
            display.classList.remove('active');
          } else {
            display.textContent = texto;
            display.classList.add('active');
          }
        });

        allTags.forEach(tag => {
          if (tag.getAttribute('data-text') === texto) {
            tag.classList.add('active');
            activeWatermark = texto;
          } else {
            tag.classList.remove('active');
          }
        });
      }
    });
  </script>
</body>

</html>