<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globals.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="quotation">
    <header class="header">
      <div class="container">
        <img class="img" src="https://storage.googleapis.com/sclcargo/web/Home/logo-largo.png" />
        <div class="div">
          <img class="container-2" src="img/container.svg" />
          <div class="vertical-divider"></div>
          <div class="container-3">
            <div class="container-4">
              <div class="div-wrapper">
                <div class="text-wrapper editable" contenteditable="true">QUOTATION</div>
              </div>
              <div class="div-wrapper">
                <div class="text-wrapper-2 editable" contenteditable="true">QT-9141</div>
              </div>
            </div>
            <div class="container-5">
              <div class="div-wrapper">
                <div class="text-wrapper-3 editable" contenteditable="true">DATE</div>
              </div>
              <div class="div-wrapper">
                <div class="text-wrapper-4 editable" contenteditable="true">Mar/12/2026 11:30 am</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="notes">
        <div class="left-side-notes">
          <div class="container-6">
            <div class="div-2"><img class="icon"
                src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-7.svg" /></div>
            <div class="div-2">
              <div class="notes-2">NOTES</div>
            </div>
          </div>
          <div class="container-7">
            <p class="p editable" contenteditable="true">
              This quotation is valid for 30 days. Rates are subject to space availability and carrier surcharges at
              the time of booking. Local charges at destination are not included unless specified.
            </p>
          </div>
        </div>
        <div class="left-side-notes-2">
          <div class="container-6">
            <div class="div-2"><img class="icon"
                src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-7.svg" /></div>
            <div class="heading">
              <p class="cotizaci-n-sujeta-a">COTIZACIÓN SUJETA A LAS SIGUIENTES CONDICIONES</p>
            </div>
          </div>
          <div class="container-7">
            <p class="element-sujeta-a-piezas editable" contenteditable="true">
              1) Sujeta a piezas finales, con respecto a su peso, dimensiones, tipo de carga, embalaje y
              &#34;loadability&#34;. (Nota para máximo estándar 300cm de largo, 200cm de ancho, 160cm de alto)<br />2)
              Válida por 30 días.<br />3) Sujeta a disponibilidad de espacio al momento de la reserva.<br />4) Todas
              las tarifas son entregadas bajo la condición que están sujetas a cambio en cualquier minuto con aviso
              previo.<br />5) Carga que es de origen o para uso militar, dual o donde el exportador/consignatario es
              una institución de las Fuerzas Armadas de algún país requiere ser informada a la Línea Aérea con
              antelación a la reserva para verificar si puede ser transportada.
            </p>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-wrapper">
        <div class="container-8">
          <div class="ocean-operations-wrapper">
            <div class="ocean-operations">OCEAN OPERATIONS</div>
          </div>
          <div class="container-9">
            <p class="text-wrapper-5">Av Ventisquero 1111, Bodega 58, Renca, Santiago, RM 7550000. CHILE</p>
          </div>
        </div>
      </div>
      <div class="container-10">
        <div class="background">
          <div class="div-2"><img class="icon-2"
              src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-5.svg" /></div>
        </div>
        <div class="container-11">
          <div class="text-wrapper-6">www.sclcargo.cl</div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>