<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="globalprincipal.css" />
  <link rel="stylesheet" href="styleprincipal.css" />
</head>

<body>
  <div class="quotation">
    <header class="header">
      <div class="container">
        <img class="img" src="https://storage.googleapis.com/sclcargo/web/Home/logo-largo.png" />
        <div class="div">
          <img class="container-2" src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/image.svg" />
          <div class="vertical-divider"></div>
          <div class="container-3">
            <div class="container-4">
              <div class="div-wrapper">
                <div class="text-wrapper editable" contenteditable="true">QUOTATION</div>
              </div>
              <div class="div-wrapper">
                <div class="text-wrapper-2 editable" contenteditable="true">QT-9141</div>
              </div>
            </div>
            <div class="container-5">
              <div class="div-wrapper">
                <div class="text-wrapper-3 editable" contenteditable="true">DATE</div>
              </div>
              <div class="div-wrapper">
                <div class="text-wrapper-4 editable" contenteditable="true">Mar/12/2026 11:30 am</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="main">
      <div class="container-6">
        <div class="top-row-requested-by">
          <div class="requested-by-section">
            <div class="horizontal-border">
              <img class="img" src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/container.svg" />
              <div class="heading">
                <div class="requested-by">REQUESTED BY</div>
              </div>
            </div>
            <div class="background-border">
              <div class="container-7">
                <div class="div-2">
                  <div class="text-wrapper-5">NAME / COMPANY</div>
                </div>
                <div class="div-2">
                  <div class="HANKA-OPERADOR editable" contenteditable="true">HANKA OPERADOR<br />LOGISTICO S.A.</div>
                </div>
              </div>
              <div class="container-8">
                <div class="div-2">
                  <div class="text-wrapper-5">REPRESENTATIVE</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6 editable" contenteditable="true">Carmen Zamudio</div>
                </div>
              </div>
              <div class="container-9">
                <div class="div-2">
                  <div class="text-wrapper-5">PHONE</div>
                </div>
                <div class="div-2">
                  <p class="text-wrapper-6 editable" contenteditable="true">Tel: (511) 531 - 8888</p>
                </div>
              </div>
              <div class="container-10">
                <div class="div-2">
                  <div class="text-wrapper-5">EMAIL</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6 editable" contenteditable="true">sales2@hankacargo.com</div>
                </div>
              </div>
              <div class="container-11">
                <div class="div-2">
                  <div class="text-wrapper-5">ADDRESS</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6 editable" contenteditable="true">, PERU</div>
                </div>
              </div>
            </div>
          </div>
          <div class="quote-details">
            <div class="horizontal-border-2">
              <div class="icon-wrapper">
                <img class="img" src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-2.svg" />
              </div>
              <div class="quote-details-wrapper">
                <div class="quote-details-2">QUOTE DETAILS</div>
              </div>
              <div class="container-12">
                <div class="container-13">
                  <div class="created-by">CREATED BY</div>
                </div>
                <div class="container-13">
                  <div class="text-wrapper-7 editable" contenteditable="true">Rodrigo Mora</div>
                </div>
              </div>
            </div>
            <div class="container-wrapper">
              <div class="container-14">
                <div class="container-15">
                  <div class="div-2">
                    <div class="text-wrapper-5">QUOTE EXPIRES</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-6 editable" contenteditable="true">Mar/24/2026 11:59 PM</div>
                  </div>
                </div>
                <div class="container-16">
                  <div class="div-2">
                    <div class="text-wrapper-5">MODE OF TRANSPORTATION</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-6 editable" contenteditable="true">Aéreo</div>
                  </div>
                </div>
                <div class="container-17">
                  <div class="div-2">
                    <div class="text-wrapper-5">SERVICE TYPE</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-6 editable" contenteditable="true">Port to Port</div>
                  </div>
                </div>
                <div class="container-18">
                  <div class="div-2">
                    <div class="text-wrapper-5">CARRIER</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-6 editable" contenteditable="true">LATAM AIRLINES GROUP</div>
                  </div>
                </div>
                <div class="container-19">
                  <div class="div-2">
                    <div class="text-wrapper-5">FREQUENCY</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-6 editable" contenteditable="true">Otros</div>
                  </div>
                </div>
                <div class="container-20">
                  <div class="div-2">
                    <div class="text-wrapper-5">PAYMENT TERMS</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-6 editable" contenteditable="true">Net 4</div>
                  </div>
                </div>
                <div class="container-21">
                  <div class="div-2">
                    <div class="text-wrapper-5">INCOTERMS</div>
                  </div>
                  <div class="div-2">
                    <div class="text-wrapper-6 editable" contenteditable="true">Free Carrier</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-row-origin">
          <div class="section">
            <div class="horizontal-border">
              <div class="container-22"><img class="icon-2"
                  src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon.svg" /></div>
              <div class="heading">
                <div class="origin">ORIGIN</div>
              </div>
            </div>
            <div class="background-border-2">
              <div class="div-2">
                <div class="div-2">
                  <div class="text-wrapper-5">PORT OF LOADING</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6 editable" contenteditable="true">Santiago</div>
                </div>
              </div>
              <div class="div-2">
                <div class="div-2">
                  <div class="text-wrapper-5">PLACE OF RECEIPT</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6 editable" contenteditable="true">-</div>
                </div>
              </div>
              <div class="container-23">
                <div class="div-2">
                  <div class="text-wrapper-5">NAME/COMPANY</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6 editable" contenteditable="true">-</div>
                </div>
              </div>
              <div class="container-24">
                <div class="div-2">
                  <div class="text-wrapper-5">ADDRESS</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6 editable" contenteditable="true">-</div>
                </div>
              </div>
            </div>
          </div>
          <div class="section-2">
            <div class="horizontal-border">
              <div class="container-25">
                <div class="icon-3"><img class="icon-3"
                    src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-3.svg" /></div>
              </div>
              <div class="heading">
                <div class="destination">DESTINATION</div>
              </div>
            </div>
            <div class="background-border-3">
              <div class="div-2">
                <div class="div-2">
                  <div class="text-wrapper-5">PORT OF UNLOADING</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6 editable" contenteditable="true">Quito</div>
                </div>
              </div>
              <div class="div-2">
                <div class="div-2">
                  <div class="text-wrapper-5">PLACE OF DELIVERY</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6 editable" contenteditable="true">-</div>
                </div>
              </div>
              <div class="div-2">
                <div class="div-2">
                  <div class="text-wrapper-5">NAME/COMPANY</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6">-</div>
                </div>
              </div>
              <div class="div-2">
                <div class="div-2">
                  <div class="text-wrapper-5">ADDRESS</div>
                </div>
                <div class="div-2">
                  <div class="text-wrapper-6">-</div>
                </div>
              </div>
            </div>
          </div>
          <div class="new-section">
            <div class="horizontal-border">
              <div class="container-22">
                <div class="icon-4"><img class="icon-4"
                    src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-4.svg" /></div>
              </div>
              <div class="heading">
                <div class="description-of-goods">DESCRIPTION OF GOODS</div>
              </div>
            </div>
            <div class="background-border-4">
              <div class="general-air-cargo-wrapper">
                <p class="general-air-cargo editable" contenteditable="true">
                  General air cargo, including electronic<br />components and industrial machinery parts.<br />Securely
                  packed in reinforced wooden<br />crates.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="board">
        <div class="border">
          <div class="div-2">
            <div class="header-row">
              <div class="cell">
                <div class="text-wrapper-8">CHARGE</div>
              </div>
              <div class="quantity-wrapper">
                <div class="quantity">QUANTITY</div>
              </div>
              <div class="unit-wrapper">
                <div class="unit">UNIT</div>
              </div>
              <div class="price-wrapper">
                <div class="price">PRICE</div>
              </div>
              <div class="amount-wrapper">
                <div class="amount">AMOUNT</div>
              </div>
            </div>
            <div class="div-2">
              <div class="row">
                <div class="data">
                  <div class="container-26">
                    <p class="text-wrapper-9 editable" contenteditable="true">Ocean Freight - CNT:40 Ft. Hight Cube</p>
                  </div>
                </div>
                <div class="data-2">
                  <div class="text-wrapper-10 editable" contenteditable="true">163.41</div>
                </div>
                <div class="data-3">
                  <div class="text-wrapper-11 editable" contenteditable="true">VKg</div>
                </div>
                <div class="data-4">
                  <div class="text-wrapper-12 editable" contenteditable="true">3.75</div>
                </div>
                <div class="data-5">
                  <div class="text-wrapper-13 editable" contenteditable="true">$549.673 CLP</div>
                </div>
                <div class="delete-action">
                  <img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png" class="delete-icon" />
                </div>
              </div>
              <div class="row-2">
                <div class="data-6">
                  <div class="container-27">
                    <div class="text-wrapper-9 editable" contenteditable="true">Fuel Service</div>
                  </div>
                </div>
                <div class="data-7">
                  <div class="text-wrapper-14 editable" contenteditable="true">163.41</div>
                </div>
                <div class="data-8">
                  <div class="text-wrapper-15 editable" contenteditable="true">VKg</div>
                </div>
                <div class="data-9">
                  <div class="text-wrapper-16 editable" contenteditable="true">0.30</div>
                </div>
                <div class="data-10">
                  <div class="text-wrapper-17 editable" contenteditable="true">$49.02 USD</div>
                </div>
                <div class="delete-action">
                  <img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png" class="delete-icon" />
                </div>
              </div>
              <div class="row-3">
                <div class="data-11">
                  <div class="container-28">
                    <div class="text-wrapper-9 editable" contenteditable="true">Airport Charge</div>
                  </div>
                </div>
                <div class="data-7">
                  <div class="text-wrapper-18 editable" contenteditable="true">1.00</div>
                </div>
                <div class="data-8">
                  <div class="text-wrapper-19 editable" contenteditable="true">-</div>
                </div>
                <div class="data-9">
                  <div class="text-wrapper-16 editable" contenteditable="true">35.00</div>
                </div>
                <div class="data-12">
                  <div class="text-wrapper-20 editable" contenteditable="true">$31.395 CL</div>
                </div>
                <div class="delete-action">
                  <img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png" class="delete-icon" />
                </div>
              </div>
              <div class="row-2">
                <div class="data-13">
                  <div class="container-29">
                    <div class="text-wrapper-9 editable" contenteditable="true">Documentation</div>
                  </div>
                </div>
                <div class="data-14">
                  <div class="text-wrapper-21 editable" contenteditable="true">1.00</div>
                </div>
                <div class="data-15">
                  <div class="text-wrapper-22 editable" contenteditable="true">-</div>
                </div>
                <div class="data-16">
                  <div class="text-wrapper-23 editable" contenteditable="true">185.00</div>
                </div>
                <div class="data-12">
                  <div class="text-wrapper-24 editable" contenteditable="true">$161.72 EUR</div>
                </div>
                <div class="delete-action">
                  <img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png" class="delete-icon" />
                </div>
              </div>
              <div class="row-4">
                <div class="data-13">
                  <div class="container-29">
                    <div class="text-wrapper-9 editable" contenteditable="true">Air Freight</div>
                  </div>
                </div>
                <div class="data-14">
                  <div class="text-wrapper-25 editable" contenteditable="true">163.41</div>
                </div>
                <div class="data-15">
                  <div class="text-wrapper-26 editable" contenteditable="true">VKg</div>
                </div>
                <div class="data-16">
                  <div class="text-wrapper-27 editable" contenteditable="true">3.75</div>
                </div>
                <div class="data-12">
                  <div class="text-wrapper-28 editable" contenteditable="true">$549.673 CLP</div>
                </div>
                <div class="delete-action">
                  <img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png" class="delete-icon" />
                </div>
              </div>
              <div class="row-2">
                <div class="data-13">
                  <div class="container-29">
                    <p class="text-wrapper-9 editable" contenteditable="true">Local Charges - Origin Charges Panama</p>
                  </div>
                </div>
                <div class="data-14">
                  <div class="text-wrapper-29 editable" contenteditable="true">163.41</div>
                </div>
                <div class="data-15">
                  <div class="text-wrapper-26 editable" contenteditable="true">VKg</div>
                </div>
                <div class="data-16">
                  <div class="text-wrapper-30 editable" contenteditable="true">0.30</div>
                </div>
                <div class="data-12">
                  <div class="text-wrapper-31 editable" contenteditable="true">$49.02 USD</div>
                </div>
                <div class="delete-action">
                  <img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png" class="delete-icon" />
                </div>
              </div>
              <div class="row-4">
                <div class="data-13">
                  <div class="container-29">
                    <div class="text-wrapper-9 editable" contenteditable="true">Airport Charge</div>
                  </div>
                </div>
                <div class="data-14">
                  <div class="text-wrapper-32 editable" contenteditable="true">1.00</div>
                </div>
                <div class="data-15">
                  <div class="text-wrapper-33 editable" contenteditable="true">-</div>
                </div>
                <div class="data-16">
                  <div class="text-wrapper-34 editable" contenteditable="true">35.00</div>
                </div>
                <div class="data-12">
                  <div class="text-wrapper-35 editable" contenteditable="true">$31.395 CLP</div>
                </div>
                <div class="delete-action">
                  <img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png" class="delete-icon" />
                </div>
              </div>
              <div class="row-2">
                <div class="data-13">
                  <div class="container-29">
                    <div class="text-wrapper-9 editable" contenteditable="true">Documentation</div>
                  </div>
                </div>
                <div class="data-14">
                  <div class="text-wrapper-21 editable" contenteditable="true">1.00</div>
                </div>
                <div class="data-15">
                  <div class="text-wrapper-22 editable" contenteditable="true">-</div>
                </div>
                <div class="data-16">
                  <div class="text-wrapper-34 editable" contenteditable="true">185.00</div>
                </div>
                <div class="data-12">
                  <div class="text-wrapper-36 editable" contenteditable="true">$161.72 EUR</div>
                </div>
                <div class="delete-action">
                  <img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png" class="delete-icon" />
                </div>
              </div>
              <div class="row-4">
                <div class="data-13">
                  <div class="container-29">
                    <div class="text-wrapper-9 editable" contenteditable="true">Air Freight</div>
                  </div>
                </div>
                <div class="data-14">
                  <div class="text-wrapper-37 editable" contenteditable="true">163.41</div>
                </div>
                <div class="data-15">
                  <div class="text-wrapper-26 editable" contenteditable="true">VKg</div>
                </div>
                <div class="data-16">
                  <div class="text-wrapper-27 editable" contenteditable="true">3.75</div>
                </div>
                <div class="data-12">
                  <div class="text-wrapper-38 editable" contenteditable="true">$549.673 CLP</div>
                </div>
                <div class="delete-action">
                  <img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png" class="delete-icon" />
                </div>
              </div>
              <div class="row-2">
                <div class="data-13">
                  <div class="container-29">
                    <div class="text-wrapper-9 editable" contenteditable="true">Fuel Service</div>
                  </div>
                </div>
                <div class="data-14">
                  <div class="text-wrapper-39 editable" contenteditable="true">163.41</div>
                </div>
                <div class="data-15">
                  <div class="text-wrapper-26 editable" contenteditable="true">VKg</div>
                </div>
                <div class="data-16">
                  <div class="text-wrapper-27 editable" contenteditable="true">0.30</div>
                </div>
                <div class="data-12">
                  <div class="text-wrapper-35 editable" contenteditable="true">$49.02 USD</div>
                </div>
                <div class="delete-action">
                  <img src="https://storage.googleapis.com/sclcargo/web/Home/grupo-49257.png" class="delete-icon" />
                </div>
              </div>
            </div>
            <div class="add-row-container">
              <button class="add-button" type="button">
                AGREGAR
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="total">
        <div class="right-side-totals">
          <div class="container-30">
            <div class="container-31">
              <div class="container-32">
                <div class="text">SUBTOTAL</div>
              </div>
              <div class="container-32">
                <div class="text-wrapper-40">$2.175.608 CLP</div>
              </div>
            </div>
            <div class="container-31">
              <div class="container-32">
                <div class="tax">TAX</div>
              </div>
              <div class="container-32">
                <div class="text-2">$0.00</div>
              </div>
            </div>
            <div class="background">
              <div class="margin">
                <div class="text-wrapper-41">TOTAL (CLP)</div>
              </div>
              <div class="container-25">
                <div class="text-wrapper-42">$2.175.608</div>
              </div>
            </div>
          </div>
          <div class="container-30">
            <div class="container-31">
              <div class="container-32">
                <div class="text">SUBTOTAL</div>
              </div>
              <div class="container-32">
                <div class="text-wrapper-43">$2.425.43 USD</div>
              </div>
            </div>
            <div class="container-31">
              <div class="container-32">
                <div class="tax">TAX</div>
              </div>
              <div class="container-32">
                <div class="text-2">$0.00</div>
              </div>
            </div>
            <div class="background">
              <div class="margin">
                <div class="text-wrapper-41">TOTAL (USD)</div>
              </div>
              <div class="container-25">
                <div class="text-wrapper-44">$2.425.43</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="signature-line">
      <div class="horizontal-divider-wrapper">
        <div class="horizontal-divider"></div>
      </div>
      <div class="signature-wrapper">
        <div class="signature">SIGNATURE</div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-33">
        <div class="container-32">
          <div class="div-2">
            <div class="ocean-operations">OCEAN OPERATIONS</div>
          </div>
          <div class="container-34">
            <p class="p">Av Ventisquero 1111, Bodega 58, Renca, Santiago, RM 7550000. CHILE</p>
          </div>
        </div>
      </div>
      <div class="container-35">
        <div class="background-2">
          <div class="container-25">
            <div class="icon-5"><img class="icon-5"
                src="https://storage.googleapis.com/sclcargo/SCLCargo_gendoc/assets/icon-5.svg" /></div>
          </div>
        </div>
        <div class="container-36">
          <div class="text-wrapper-45">www.sclcargo.cl</div>
        </div>
      </div>
    </footer>
  </div>

  <script>
    document.addEventListener('click', function(e) {
      // Deletion logic
      const deleteBtn = e.target.closest('.delete-action');
      if (deleteBtn) {
        const row = deleteBtn.closest('.row, .row-2, .row-3, .row-4');
        if (row) {
          row.remove();
        }
        return;
      }
      
      // Addition logic
      const addBtn = e.target.closest('.add-button');
      if (addBtn) {
        const container = addBtn.closest('.add-row-container');
        const rowContainer = container ? container.previousElementSibling : null;
        if (rowContainer) {
          const rows = rowContainer.querySelectorAll('.row, .row-2, .row-3, .row-4');
          if (rows.length > 0) {
            const lastRow = rows[rows.length - 1];
            const newRow = lastRow.cloneNode(true);
            
            // Clear content of editable elements in the new row
            const editables = newRow.querySelectorAll('[contenteditable="true"]');
            editables.forEach(el => {
              el.innerText = '';
            });
            
            rowContainer.appendChild(newRow);
          }
        }
      }
    });
  </script>
</body>

</html>